body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.note-text {
  resize: none;
  min-width: 20%;
  height: 10em;
  outline: none;
  font-size: 150%;
}

.note-add-button {
  margin-top: 0.5%;
  padding: 1%;
  font-size: large;
  background-color: midnightblue;
  color: white;
  border-radius: 5px;
  border-color: midnightblue;
}
