body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.main-note {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.note-header {
  max-width: 20%;
  min-width: 20%;
  outline: none;
  border-color: midnightblue;
  margin: 1%;
  border-radius: 3px;
  border-width: 2px;
  font-size: 1em;
  padding: 0.5%;
  box-sizing: border-box;
}

.note-title {
  min-width: 20%;
  max-width: 20%;
}

.note-text {
  resize: none;
  max-width: 20%;
  min-width: 20%;
  max-width: 20%;
  height: 10em;
  outline: none;
  font-size: 150%;
  border-color: midnightblue;
  border-radius: 3px;
  border-width: 2px;
  font-size: 1.5em;
  padding: 0.5%;
  box-sizing: border-box;
}

.note-add-button {
  margin-top: 0.5%;
  padding: 1%;
  font-size: large;
  background-color: midnightblue;
  color: white;
  border-radius: 5px;
  border-color: midnightblue;
}
